body{
    background-color: lightgray;
 height: 100vh;   
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.emoji{
    filter: grayscale(1);
     font-size: 11rem;
    cursor: pointer;
    transition: transform,fliter;
    transition-duration: 200ms;
    
}
.emoji:hover{
    filter: grayscale(0);
    transform: scale(1.5);
}